<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>
    .container{
    width:500px;
    border:1px solid black;
    margin-top:150px;
    padding:20px 20px 60px 20px;
    border-radius:20px;
    box-shadow:26px 29px 23px #333;

    }
    .login{
    text-align:center;
    }


    </style>
</head>

<body>
<div class="container">
    <!--    novalidata是关闭前端浏览器做校验-->
    <form method="post" novalidate>
        {% csrf_token %}
        <h2 class="login">登录</h2>
        <!--用户名-->
        <div class="form-group">
            <label>用户名</label>
            {{form.username}}
            <span style="color:red;">{{form.username.errors.0}}</span>
        </div>
        <!--密码-->
        <div class="form-group">
            <label>密码</label>
            {{form.password}}
            <span style="color:red;">{{form.password.errors.0}}</span>
        </div>
        <!--图片验证码-->
        <div class="form-group">
            <label for="id_code">图片验证码</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span style="color: red;">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" src="/image_code/" style="width: 125px;">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-info">登 录</button>
    </form>
</div>
</body>
</html>